.create {
  padding: 6px 12px;
  border: 1px solid rgb(135, 175, 216);
  border-radius: 5px;
}

.create-form {
  display: flex;
  align-items: center;
}

.mat-input-container {
  margin:  0px 12px;
}

.title {
  flex: 5;
}

.link {
  flex: 8;
}

.type {
  flex: 1;
}

.add-button {
  flex: 1;
}

.list {
  margin-top: 40px;
}

.item {
  padding: 8px;
  border: 1px solid rgb(184, 186, 221);
  border-radius: 5px;
  margin: 8px 0px;
}

.item a {
  text-decoration: unset;
  color: rgb(21, 21, 179);
  font-size: 18px;
}

.delete {
  margin-right: 16px;
  color: red;
  cursor: pointer;
  font-size: 14px;
}

@media screen and (max-width: 800px) {
  .create {
    padding: 20px 12px;
  }
  
  .create-form {
    flex-direction: column;
  }

  .mat-input-container {
    margin: 0px;
    width: 90%;
  }

}