<div class="create">
  <form class="create-form" #createForm="ngForm" (ngSubmit)="createItem(createForm)">  
    <mat-form-field class="title">
      <input matInput ngModel name="title" placeholder="title" minlength="1" maxlength="20" required>
    </mat-form-field>
    <mat-form-field class="link">
      <input matInput ngModel name="link" placeholder="link" minlength="1" maxlength="200" required>
    </mat-form-field>
    <mat-form-field class="type">
      <mat-select ngModel name="type" placeholder="type" required>
        <mat-option value="text">text</mat-option>
        <mat-option value="video">video</mat-option>
        <mat-option value="image">image</mat-option>
        <mat-option value="code">code</mat-option>
        <mat-option value="other">other</mat-option>
      </mat-select>
    </mat-form-field>
    <button class="add-btn" mat-mini-fab color="primary">
      <mat-icon>note_add</mat-icon>
    </button>
  </form>
</div>
<p class="msg" *ngIf="!list.length">no resources to display...</p>
<div class="list">
  <div class="item" *ngFor="let item of list" [ngSwitch]="item.type">
    <mat-icon class="delete" (click)="deleteItem(item.id)">close</mat-icon>
    <a href="{{item.link}}" target="_blank">{{item.title}}</a>
    <div class="icon">      
      <mat-icon *ngSwitchCase="'text'">text_format</mat-icon>
      <mat-icon *ngSwitchCase="'video'">video_library</mat-icon>
      <mat-icon *ngSwitchCase="'image'">image</mat-icon>
      <mat-icon *ngSwitchCase="'code'">code</mat-icon>
      <mat-icon *ngSwitchCase="'other'">tab</mat-icon>
    </div>
  </div>
</div>