/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Vollkorn+SC');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quattrocento Sans', sans-serif;
}

.page {
    position: relative;
    height: calc(100vh - 83px);
    padding: 6px;
    overflow-y: auto;
}

@media screen and (max-width: 460px) {
    .page {
        height: calc(100vh - 103px);
    }
}