<mat-card class="card">
  <mat-card-title>connect with an existing user</mat-card-title>
  <mat-card-subtitle>enter a username and password to enter</mat-card-subtitle>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <mat-card-content>     
        <div>
          <mat-form-field>
            <input matInput ngModel name="username" placeholder="username" minlength="4" maxlength="10" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput ngModel name="password" placeholder="password" type="password" minlength="6" maxlength="12" required>
          </mat-form-field>
        </div>
        <mat-slide-toggle ngModel name="rememberMe">remember me</mat-slide-toggle>
      </mat-card-content>
      <mat-card-actions>
          <button mat-raised-button color="primary">log in</button>
      </mat-card-actions>
  </form>
  <p class="error">{{error}}</p>
</mat-card>