
section {
    padding: 10px;
    background-color: rgb(194, 203, 230);
}

h1 {
    display: inline-block;
    font-size: 30px;
    margin-right: 30px;
}

h2 {
    display: inline-block;
    font-size: 20px;
    vertical-align: 1.5px;
}

.card {
    min-height: 500px;
}