
section {
    padding: 10px;
    background-color: rgb(127, 153, 231);
}       

.header {
    margin-bottom: 12px;
}

h1 {
    display: inline-block;
    margin-right: 30px;
}

h2 {
    display: inline-block;
    vertical-align: 1.5px;
}
