@import url('https://fonts.googleapis.com/css?family=Pangolin');

.zone-container {
    display: flex;
    justify-content: space-around;
    padding: 80px 20px;
    align-items: center;
}

.intro {
    margin-top: 40px;
    padding: 0px 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.zone {
    position: relative;
    text-align: center;
    padding: 50px;
    border: 2px solid rgb(98, 185, 204);
    width: 30%;
    height: 400px;
    border-radius: 60px 180px;
    font-size: 40px;
    color: white;
    cursor: pointer;
    font-family: 'Pangolin', cursive;
    box-shadow: 0px 0px 10px rgb(135, 160, 196);
    transition: all 700ms;
    text-shadow: 0px 0px 3px black;
}

.zone.a {
    background-color: rgb(179, 224, 235);
}

.zone.b {
    background-color: rgb(190, 228, 235);
}

.zone.c {
    background-color: rgb(170, 208, 214);
}

.zone.zone:hover {
    box-shadow: 0px 0px 30px rgb(135, 160, 196);
    background-color: rgb(229, 238, 241);
    color: black;
    border-color: rgb(118, 144, 221);
}

.zone img {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    max-height: 50%;
}

@media screen and (max-width: 1000px) {
    .zone-container {
        flex-direction: column;
    }

    .zone {
        width: 80%;
        margin-bottom: 40px;
    }
}