<p class="intro">welcome {{fullName}}, please select the zone you want to study / edit ...</p>
<nav class="zone-container">
    <div class="zone a" routerLink="/zone/client-side">
        client side
        <img src="assets/angular.png" alt="angular icon">
    </div>
    <div class="zone b" routerLink="/zone/server-side">
        server side
        <img src="assets/node-js.png" alt="node.js icon">
    </div>
    <div class="zone c" routerLink="/zone/both-sides">
        both sides
        <img src="assets/git-icon-black.png" alt="git icon">
    </div>
</nav>  

