
h3 {
    margin: 20px;
}

.add-item-container {
    text-align: right;
}

.add-item {
    margin: 12px 30px;
    background-color: rgb(57, 57, 193);
    transition: all 700ms;
}

.add-item:hover {
    background-color: rgb(9, 9, 71);
}

.no-items {
    text-align: center;
}