
.sign-up {
    padding-top: 40px;
    text-align: center;
}

h3, h4 {
    margin: 14px 0px;
}

.mat-input-container {
    display: block;
    max-width: 240px;
    margin: 0 auto;
}

button {
    display: block;
    margin: 20px auto;
}

.error {
    color: red;
}

.success {
    color: blue;
}