
header {
    position: relative;
    padding: 6px;
    background-color: rgb(56, 101, 214);
}

h1, h2 {
    display: inline-block;
    color: white;
}

h1 {
    font-size: 30px;
    font-family: 'Vollkorn SC', serif;
    text-shadow: 0px 0px 3px blue;
    margin-right: 20px;
}

h2 {
    font-size: 20px;
    font-family: 'Inconsolata', monospace;
    text-shadow: 0px 0px 2px black;
    vertical-align: 1.5px;
}

.logout {
    position: absolute;
    font-size: 40px;
    color: white;
    top: 8px;
    right: 20px;
    cursor: pointer;
}

img {
    vertical-align: -7px;
    margin-right: 2px;
}

@media screen and (max-width: 460px) {
    h1, h2 {
        display: block;
    }

    img {
       display: none;
    }
}