<app-menu></app-menu>
<section>
  <h3>{{title}}</h3>
  <div class="add-item-container">
    <button mat-fab color="primary" class="add-item" (click)="onAddItem()">
      <mat-icon>playlist_add</mat-icon>
    </button>
  </div>
  <app-filter *ngIf="list.length" (onFilter)="onFilterList($event)"></app-filter>
  <p class="no-items" *ngIf="!(list | filter:filterBy).length">there are no items to show...</p>
  <div *ngFor="let item of list | filter:filterBy">
    <app-item 
      [data]="item" 
      (onClick)="onClickItem($event)" 
      (onEdit)="onEditItem($event)" 
      (onDelete)="onDeleteItem($event)" 
      (onChange)="onChangeLevel($event)"
    >
    </app-item>
  </div>
</section>
