/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Vollkorn+SC');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    min-height: calc(100vh - 83px);
}

@media screen and (max-width: 460px) {
    .page {
        min-height: calc(100vh - 103px);
    }
}